server:
  port: 11000


spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://192.168.101.58:3307/kunmall_ums
    driver-class-name: com.mysql.jdbc.Driver
  application:
    name: kunmall-member
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.101.58:8848  #nacos注册中心地址

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto

logging:
  level:
    com.kunmall: debug